sandbox
src/pandorapsf/data/pandora_vis*.*
src/pandorapsf/data/pandora_nir*.*
src/pandorapsf/data/phoenix
src/pandorapsf/data/phoenix.zip
src/pandorapsf/data/pandora_gaussian_psf.fits
docs/calibration/*.fits

# Mac things
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
site

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
smex2024