[tool.poetry]
name = "pandorapsf"
version = "0.2.1"
description = ""
authors = ["Christina Hedges <christina.l.hedges@nasa.gov>"]
readme = "README.md"
packages = [{include = "pandorapsf", from = "src"}]

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
numpy = "^1.26.0"
matplotlib = "^3.8.0"
astropy = "^5.3.3"
rich = "^13.5.3"
scipy = "^1.11.2"
pandas = "^2.1.1"
ipython = "^8.15.0"
tqdm = "^4.66.1"
pandorasat = ">=0.5.6"
lamatrix = "^0.1.0"


[tool.poetry.group.dev.dependencies]
jupyterlab = "^4.0.6"
flake8 = "^6.1.0"
black = "^23.9.1"
isort = "^5.12.0"
mkdocs = "^1.5.3"
mkdocs-material = "^9.3.2"
mkdocstrings = "^0.23.0"
pytest = "^7.4.2"
pysynphot = "^2.0.0"
memory-profiler = "^0.61.0"
line-profiler = "^4.1.1"
astroquery = "^0.4.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
